.c-container {
    border: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.total-points-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}

h3 {
    font-size: large;
    margin: 10px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.welcome-title {
    font-size: x-large;
    color: #03783D;
    margin: 20px;
}

.subtitle {
    font-size: larger;
    color: #03783D;
    margin: 20px;
}

.activate-button {
    --sds-c-button-text-color: #000000;
    --sds-c-button-brand-color-border: #03783D;
    --sds-c-button-brand-color-border-hover: purple;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #F9F9F9;
}

.reward-tile-container {
    position: relative;
    text-align: center;
    color: white;
    margin: 20px;
}

.reward-tile-container:hover {
    cursor: pointer;
}

.eligible {
    filter: brightness(55%) grayscale(1);
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.ineligible {
    filter: brightness(55%) grayscale(1);
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.reward-tile-container:hover > .eligible { 
    filter: brightness(100%) grayscale(0);
}

.reward-tile-container:hover > .ineligible { 
    filter: brightness(100%) grayscale(1);
}

.reward-tile {
    width: 200px;
    height: 200px;
}

.reward-tile-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
}

.activate-button {
    --sds-c-button-outline-brand-color-border: #03783D;
    --sds-c-button-outline-brand-color-border-hover: #A72124;
    --sds-c-button-outline-brand-color-background-hover: white;
}