.reward-tile-container {
    position: relative;
    text-align: center;
    color: white;
}

.reward-tile-container:hover {
    cursor: pointer;
}

.eligible {
    filter: brightness(58%);
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.ineligible {
    filter: brightness(15%) grayscale(1);
    filter: brightness(25%);
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.reward-tile-container:hover > .eligible { 
    border-radius: 5%;
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    filter: brightness(95%);
}

.reward-tile-container:hover > .ineligible { 
    border-radius: 5%;
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    filter: brightness(25%);
}

.reward-tile {
    width: 300px;
    height: 300px;
}

.reward-tile-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
}