.reward-tile-container {
    position: relative;
    text-align: center;
    color: white;
    margin: 20px;
}

.reward-tile-container:hover {
    cursor: pointer;
}

.eligible {
    filter: brightness(55%) grayscale(1);
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.ineligible {
    filter: brightness(55%) grayscale(1);
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.reward-tile-container:hover > .eligible { 
    filter: brightness(100%) grayscale(0);
}

.reward-tile-container:hover > .ineligible { 
    filter: brightness(100%) grayscale(1);
}

.reward-tile {
    width: 200px;
    height: 200px;
}

.reward-tile-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
}