.c-container {
    border: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.total-points-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}

h3 {
    font-size: large;
    margin: 10px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.welcome-title {
    font-size: x-large;
    color: #03783D;
    margin: 20px;
}

.subtitle {
    font-size: larger;
    color: #03783D;
    margin: 20px;
}

.activate-button {
    --sds-c-button-text-color: #000000;
    --sds-c-button-brand-color-border: #03783D;
    --sds-c-button-brand-color-border-hover: purple;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #F9F9F9;
}

.reward-tile-container {
    position: relative;
    text-align: center;
    color: white;
    margin: 20px;
}

.reward-tile-container:hover {
    cursor: pointer;
}

.eligible {
    filter: brightness(58%);
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.ineligible {
    filter: brightness(15%) grayscale(1);
    filter: brightness(35%);
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.reward-tile-container:hover > .eligible { 
    border-radius: 5%;
    /*
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            */
    filter: brightness(95%);
    
}

.reward-tile-container:hover > .ineligible { 
    border-radius: 5%;
    /*
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            */
    filter: brightness(25%);
}

.reward-tile {
    width: 300px;
    height: 300px;
}

.reward-tile-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
}

.wrap {
    overflow-x:hidden;
}
.slideInRight {
    animation-name: slideInRight;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
  
@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
  
    to {
        transform: translate3d(0, 0, 0);
    }
}